body {
  background: #fff; }

/*header  footer begin*/
#header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background: rgba(255, 255, 255, 0.95);
  color: #eee;
  font-size: 0.83333rem;
  font-weight: normal;
  border-bottom: 1px solid #ddd; }

#header a.back {
  display: block;
  width: 2.91667rem;
  height: 2.91667rem;
  margin-right: 4.375rem; }

#header .list_title li {
  width: 3.54167rem;
  height: 3rem;
  text-align: center;
  margin-right: 0.625rem;
  border: none 0; }

#header .list_title li h2 {
  width: 100%;
  height: 2.83333rem; }

#header .list_title li h2 a {
  display: block;
  width: 100%;
  height: 100%;
  color: #000;
  font: normal 1.08333rem/2.79167rem "Microsoft YaHei"; }

#header .list_title li.active p {
  width: 100%;
  height: 0.16667rem;
  background: #000; }

.set_title li {
  width: 2.91667rem;
  height: 2.91667rem; }

.set_title li a {
  display: block;
  width: 100%;
  height: 100%; }

#header p {
  display: inline-block;
  font: normal 1.08333rem/2.91667rem "Microsoft YaHei"; }

#footer {
  position: absolute;
  z-index: 2;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 3.54167rem;
  padding: 0;
  border-top: 1px solid #444; }

#footer ul {
  width: 60%;
  height: 2.91667rem;
  background: rgba(0, 0, 0, 0.9);
  padding-top: 0.625rem; }

#footer li a {
  display: block; }

#footer li {
  float: left;
  width: 5.33333rem;
  height: 2.70833rem; }

#footer li img {
  width: 1.45833rem;
  border: 0 none;
  margin: auto; }

#footer li p {
  width: 100%;
  font: normal 0.75rem/1.16667rem "Microsoft YaHei";
  color: #aaa;
  margin: auto;
  text-align: center; }

#footer li.active p {
  color: #10f9b7; }

.addCart {
  width: 40%;
  background: #f15353;
  text-align: center;
  font: normal 1.08333rem/3.58333rem "Microsoft YaHei";
  color: #aaa; }

/*header  footer end*/
#wrapper {
  position: absolute;
  z-index: 1;
  top: -1px;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  overflow: hidden; }

.slide_box {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none; }

.detail_list {
  margin: 3rem auto 3.54167rem; }

/*banner start*/
.banner {
  width: 100%;
  height: 26.66667rem;
  margin: 0 auto;
  margin-bottom: 0.41667rem;
  position: relative;
  overflow: hidden;
  z-index: 1; }

.banner .swiper-slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.swiper-wrapper {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.swiper-container-android .swiper-slide, .swiper-wrapper {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%; }

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px; }

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer; }

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  border: 1px solid #fff;
  background: none;
  opacity: 1; }

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #fff; }

/*banner end*/
/*shoppingTitle start*/
.shopTitle {
  width: 100%;
  margin-bottom: 1.04167rem; }

.shopTitle a {
  display: block;
  color: #333;
  padding-left: 1.04167rem; }

.shopTitle_txt {
  width: 22.29167rem;
  font: normal 1.08333rem/1.33333rem "Microsoft YaHei";
  padding-top: 0.41667rem; }

.goinfo {
  width: 2.5rem;
  height: 2.5rem; }

/*shoppingTitle end*/
/*shopping money start*/
.shopMoney {
  padding: 0 0 1.04167rem 1.04167rem;
  margin-bottom: 1.04167rem;
  border-bottom: 1px solid #ddd; }

.shopMoney p {
  color: #f04d4d; }

.shopMoney .shopping_currency {
  font: normal 1.25rem/2.5rem "Microsoft YaHei";
  padding-right: 0.625rem; }

.shopMoney .shopping_money {
  font: normal 1.66667rem/2.5rem "Arial"; }

.phone_only {
  width: 4.95833rem;
  height: 1.125rem; }

/*shopping money end*/
/*shopping number start*/
.shopNum {
  padding: 0 0 1.04167rem 1.04167rem;
  border-bottom: 1px solid #ddd; }

.shopNum_txt {
  font: normal 1rem/1.875rem "Microsoft YaHei";
  color: #666;
  padding-right: 1.04167rem; }

.shopNum_plnum {
  width: 7.41667rem;
  height: 1.79167rem;
  border: 1px solid #999;
  border-radius: 0.41667rem; }

.plus, .less {
  display: block;
  width: 2.16667rem;
  height: 1.79167rem;
  font: normal 1.25rem/1.79167rem "Microsoft YaHei";
  color: #333;
  text-align: center; }

.plus {
  border-right: 1px solid #999; }

.less {
  border-left: 1px solid #999; }

.shopNum_plnum input {
  width: 2.91667rem;
  font: normal 1rem/1.79167rem "Arial";
  color: #333;
  border: 0 none;
  text-align: center; }

/*shopping number end*/
/*shopping prompt start*/
.shopPrompt {
  padding: 1.04167rem 0 1.04167rem 1.04167rem; }

.shopPrompt li em {
  font: normal 1rem/1.83333rem "Microsoft YaHei";
  color: #999;
  padding-right: 0.83333rem; }

.shopPrompt li span {
  font: normal 1rem/1.83333rem "Microsoft YaHei";
  color: #333; }

/*shopping prompt end*/
/*detail info start*/
.detail_info {
  width: 95%;
  margin: auto;
  background: none; }

.detail_info img {
  display: block;
  width: 100%;
  border: 0 none; }

/*detail info end*/

/*# sourceMappingURL=detail.css.map */
