body {
  background: #c4c4c4; }

/*header  footer begin*/
#header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.91667rem;
  background: rgba(0, 0, 0, 0.6);
  color: #eee;
  font-size: 0.83333rem;
  font-weight: bold; }

#header a.logo {
  display: inline-block;
  width: 3.95833rem;
  height: 1.45833rem;
  padding: 0rem 0.83333rem 0 0.625rem; }

#header input {
  width: 17.91667rem;
  height: 1.875rem;
  padding-left: 0.41667rem;
  margin-right: 0.625rem;
  color: #000;
  font: normal 1rem/1.875rem "Microsoft YaHei";
  border: none 0;
  border-radius: 0.83333rem; }

#header p {
  display: inline-block;
  font: normal 1.08333rem/2.91667rem "Microsoft YaHei"; }

#footer {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3.54167rem;
  background: #444;
  padding: 0;
  border-top: 1px solid #444; }

#footer ul {
  padding-top: 0.625rem; }

#footer li a {
  display: block; }

#footer li {
  float: left;
  width: 5.33333rem;
  height: 2.70833rem; }

#footer li img {
  width: 1.45833rem;
  border: 0 none;
  margin: auto; }

#footer li p {
  width: 100%;
  font: normal 0.75rem/1.16667rem "Microsoft YaHei";
  color: #aaa;
  margin: auto;
  text-align: center; }

#footer li.active p {
  color: #10f9b7; }

/*header  footer end*/
#wrapper {
  position: absolute;
  z-index: 1;
  top: -1px;
  bottom: 3.54167rem;
  left: 0;
  width: 100%;
  background: #ccc;
  overflow: hidden; }

.slide_box {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none; }

.list_box {
  margin-top: 2.91667rem;
  margin-bottom: 3.54167rem; }

/*list title start 1*/
.list_title {
  width: 7.5rem;
  background: #fff;
  border-right: 1px solid #888; }

.list_title li {
  width: 100%;
  height: 4.08333rem;
  border-bottom: 1px solid #888; }

.list_title li.active {
  background: #ccc; }

.list_title li a {
  display: block;
  font: normal 1rem/4.08333rem "Microsoft Yahei";
  color: #333;
  text-align: center; }

/*list title end*/
/*list info start*/
.list_info {
  position: absolute;
  width: 17.5rem;
  margin: 0 0.83333rem;
  z-index: 1;
  top: 2.91667rem;
  bottom: 0;
  right: 0; }

.linfo_title {
  font: normal 1rem/2.08333rem "Microsoft Yahei";
  padding-top: 1.45833rem;
  color: #000; }

.linfo_box {
  background: #fff;
  padding-bottom: 0.83333rem; }

.linfo_box li {
  float: left;
  width: 4.58333rem;
  padding: 1.66667rem 0.625rem 0; }

.linfo_box li div {
  width: 4.58333rem;
  height: 4.58333rem; }

.linfo_box li div img {
  width: 100%;
  height: 100%;
  background: #000; }

.linfo_box li p {
  font: normal 0.83333rem/2.08333rem "Microsoft Yahei";
  text-align: center; }

/*list info end*/

/*# sourceMappingURL=list.css.map */
