@function px2rem($px) {
  @return $px/24 + rem;
}

body { background: #fff; }

/*header  footer begin*/
#header {position: absolute;z-index: 2;	top: 0;left: 0;width: 100%;height: px2rem(72); background:rgba(255,255,255,0.6);color: #eee;font-size: px2rem(20); font-weight: normal;}
#header a.back { display: block; width: px2rem(70); height:px2rem(70); margin-right: px2rem(105);}
#header .list_title li { width: px2rem(85); height: px2rem(72); text-align: center; margin-right: px2rem(15);  border: none 0; }
#header .list_title li h2 { width: 100%; height: px2rem(68);  }
#header .list_title li h2 a {display: block; width: 100%; height: 100%; color:#000; font: normal px2rem(26)/px2rem(67) "Microsoft YaHei"; }
#header .list_title li.active p { width: 100%; height: px2rem(4); background: #000; }
.set_title li { width: px2rem(70); height: px2rem(70);  }
.set_title li a { display: block; width: 100%; height: 100%; }
#header p { display: inline-block; font: normal px2rem(26)/px2rem(70) "Microsoft YaHei"; }

#footer {position: absolute;z-index: 2;bottom: -1px;left: 0;width: 100%; height:px2rem(85);padding: 0;border-top: 1px solid #444;}
#footer ul { width: 60%; height: px2rem(70); background:rgba(0,0,0,0.9); padding-top: px2rem(15); }
#footer li a { display: block; }
#footer li { float: left; width: px2rem(128); height: px2rem(65); }
#footer li img { width: px2rem(35); border: 0 none; margin: auto; }
#footer li p { width: 100%; font:normal px2rem(18)/px2rem(28) "Microsoft YaHei"; color: #aaa; margin: auto; text-align: center;}
#footer li.active p { color: #10f9b7; }
.addCart { width: 40%; background: #f15353; text-align: center; font:normal px2rem(26)/px2rem(86) "Microsoft YaHei"; color: #aaa;  }
/*header  footer end*/


#wrapper {position: absolute; z-index: 1; top: -1px; bottom: 0; left: 0; width: 100%; background: #fff; overflow: hidden;  }

.slide_box { position: absolute; z-index: 1; -webkit-tap-highlight-color: rgba(0,0,0,0); width: 100%; -webkit-transform: translateZ(0); -moz-transform: translateZ(0); -ms-transform: translateZ(0); -o-transform: translateZ(0); transform: translateZ(0); -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none; -o-text-size-adjust: none; text-size-adjust: none; }

/*banner start*/
.banner { width: 100%; height: px2rem(640); margin:px2rem(72) auto 0; margin-bottom: px2rem(10);position:relative;overflow:hidden;z-index:1; }
.banner .swiper-slide { text-align: center; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex;  display: flex;  -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center;  -webkit-align-items: center; align-items: center;-webkit-flex-shrink:0;-ms-flex:0 0 auto;flex-shrink:0;width:100%;height:100%;position:relative; }

.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:-webkit-box;display:-moz-box;display:-ms-flexbox;-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
.swiper-wrapper{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-o-transform:translate(0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.swiper-container-android .swiper-slide,.swiper-wrapper{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-o-transform:translate(0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}


.swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction{bottom:10px;left:0;width:100%}
.swiper-pagination{position:absolute;text-align:center;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:10}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 5px}
.swiper-pagination-clickable .swiper-pagination-bullet{cursor:pointer}
.swiper-pagination-bullet{width:8px;height:8px;display:inline-block;border-radius:100%;border: 1px solid #fff; background:none; opacity:1}
.swiper-pagination-bullet-active{opacity:1;background:#fff}

/*banner end*/

/*shoppingTitle start*/

.shopTitle { width: 100%; margin-bottom: px2rem(25);}
.shopTitle a { display: block; color:#333; padding-left: px2rem(25);}
.shopTitle_txt { width:px2rem(535); font: normal px2rem(26)/px2rem(32) "Microsoft YaHei"; padding-top: px2rem(10) }
.goinfo { width: px2rem(60); height: px2rem(60);}
/*shoppingTitle end*/

/*shopping money start*/
.shopMoney { padding:0 0 px2rem(25) px2rem(25); margin-bottom: px2rem(25); border-bottom:1px solid #ddd; }
.shopMoney p { color:#f04d4d; }
.shopMoney .shopping_currency { font: normal px2rem(30)/px2rem(60) "Microsoft YaHei"; padding-right: px2rem(15); }
.shopMoney .shopping_money { font: normal px2rem(40)/px2rem(60) "Arial"; }
.phone_only { width: px2rem(119); height: px2rem(27); }
/*shopping money end*/

/*shopping number start*/
.shopNum { padding:0 0 px2rem(25) px2rem(25); border-bottom: 1px solid #ddd;  }
.shopNum_txt { font: normal px2rem(24)/px2rem(45) "Microsoft YaHei"; color: #666; padding-right: px2rem(25); }
.shopNum_plnum { width: px2rem(178); height: px2rem(43); border:1px solid #999; border-radius: px2rem(10);  }

.plus,.less {display: block; width: px2rem(52); height: px2rem(43); font: normal px2rem(30)/px2rem(43) "Microsoft YaHei"; color: #333; text-align: center;}
.plus { border-right:1px solid #999; }
.less { border-left:1px solid #999; }

.shopNum_plnum input { width: px2rem(70); font: normal px2rem(24)/px2rem(43) "Arial"; color: #333; border:0 none;  text-align: center; }
/*shopping number end*/

/*shopping prompt start*/
.shopPrompt { padding: px2rem(25) 0 px2rem(25) px2rem(25); margin-bottom: px2rem(85); }
.shopPrompt li em { font: normal  px2rem(24)/px2rem(44) 'Microsoft YaHei'; color:#999; padding-right: px2rem(20); }
.shopPrompt li span { font: normal  px2rem(24)/px2rem(44) 'Microsoft YaHei'; color:#333;  }
/*shopping prompt end*/